                                                         #Q1
                                                   #Create variable

In [2]:
#string
str="Raihan"
print(str)

Raihan

In [3]:
#list
lst=[10,20,"pwskills"]
print(lst)

[10, 20, 'pwskills']

In [4]:
#float
flt=20.53
print(flt)

20.53

In [9]:
#tuple
tup=(10,20,"pwskills")
print(tup)

(10, 20, 'pwskills')

                                                          #Q2
                                                   #Create variable

Var1=empty string
var2=String
var3=List
var4=integer

                                                           #Q3
                                                   #operators Using

In [20]:
#(i)
#using this / operator, we use it as divider.

div=50/5
print(div)

10.0

In [21]:
#(ii)
#using this % operator, we use it for finding reminder.

div=7%5
print(div)

2

In [26]:
#(iii) //
#using this // operator, we use it for floor division.

floor=15//2
print(floor)

7

In [27]:
#(iv) **
#using this ** operator, we use it for power of any number.

power=3**2
print(power)

9

                                                            #Q4
                                               #list Printing with number

In [29]:
li=[1,2,3,"raihan",True,20.5]

In [32]:
for i in li:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
raihan
<class 'str'>
True
<class 'bool'>
20.5
<class 'float'>

                                                           #Q6
                                                    #list and divide

In [48]:
a=20
b=4
i=1
while a%b==0:
    print(

SyntaxError: incomplete input (2975781284.py, line 6)

                                                           #Q6
                                                    #list and divide

In [35]:
print(list(range(0,26)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [40]:
numbers=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [47]:
for i in numbers:
    if i % 3 == 0:
        print(f" {i} is dividable by 3")
    else:
        print(f" {i} is not dividable by 3")

 0 is dividable by 3
 1 is not dividable by 3
 2 is not dividable by 3
 3 is dividable by 3
 4 is not dividable by 3
 5 is not dividable by 3
 6 is dividable by 3
 7 is not dividable by 3
 8 is not dividable by 3
 9 is dividable by 3
 10 is not dividable by 3
 11 is not dividable by 3
 12 is dividable by 3
 13 is not dividable by 3
 14 is not dividable by 3
 15 is dividable by 3
 16 is not dividable by 3
 17 is not dividable by 3
 18 is dividable by 3
 19 is not dividable by 3
 20 is not dividable by 3
 21 is dividable by 3
 22 is not dividable by 3
 23 is not dividable by 3
 24 is dividable by 3
 25 is not dividable by 3

                                                           #Q7
                                                    #Mutable & Immutable

In [49]:
#mutable
li=[1,2,3,4,5,6]

In [50]:
li[0]

1

In [51]:
li[0]=25

In [52]:
print(li)

[25, 2, 3, 4, 5, 6]

mutable means which can can modify

In [59]:
#immutable
tup2=(1.2,3,4,5)

In [61]:
print(tup2[2])

NameError: name 'tup2' is not defined

In [ ]:
#immutable means once its updated,you can modify the value